#taxonomy-color label.color1{
	width:100%;
	display:block;
	background:url('../images/admin-color1.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
#taxonomy-color label.color2{
	width:100%;
	display:block;
	background:url('../images/admin-color2.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
#taxonomy-color label.color3{
	width:100%;
	display:block;
	background:url('../images/admin-color3.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
#taxonomy-color label.color4{
	width:100%;
	display:block;
	background:url('../images/admin-color4.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
#taxonomy-color label.color5{
	width:100%;
	display:block;
	background:url('../images/admin-color5.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
#taxonomy-color label.color6{
	width:100%;
	display:block;
	background:url('../images/admin-color6.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
#taxonomy-color label.color7{
	width:100%;
	display:block;
	background:url('../images/admin-color7.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
#taxonomy-color label.color8{
	width:100%;
	display:block;
	background:url('../images/admin-color8.jpg') no-repeat;
	background-position: 20px;
	min-height:32px;
	color:transparent;
}
.column-is_in_stock .edit_stock{
	display:none;
}
.column-is_in_stock:hover .edit_stock{
	display:block;
}
#TB_ajaxContent div.loader{
	width: 100%;
	color:blue;
	display:none;
}
